[push]
	default = matching
[core]
	trustctime = false
	editor = vim
	filemode = false
[color]
	ui = true
[merge]
	tool = vimdiff
[mergetool]
	keeptemporaries = false
	keepbackups = false
	trustexitcode = false
[alias]
	last = log -1 --stat
	co = checkout
	cl = clone
	ci = commit
	st = status -sb
	br = branch
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
[user]
	name = Ryan Willis
	email = icodeninja@gmail.com
